<h1>Comments</h1>
<div class="comments">
  <div class="th">
    <p class="name">Comment</p>
    <p>Created</p>
    <p>Updated</p>
  </div>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="comm"><%= comment.comment %></p>
      <p><%= comment.created_at %></p>
      <p><%= comment.updated_at %></p>
    </div>
    <div class="links">
      <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
      <%= link_to 'Delete', [@article, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  <% end %>
  <%= link_to 'Back to article', @article %>
</div>
