<div class="show_article">
  <h2><%= @article.name %></h2>
  <div>
    <%= @article.a_content %>
  </div>
  <div class="links">
    <%= link_to 'Comments', read_article_comments_path(@article) %>
    <span>( <%= comments_count %> )</span>
    <span> | </span>
    <%= link_to 'Back to articles', read_articles_path %>
  </div>
</div>
